<html<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1953c42643.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylehome.css">
    
    <title>RAMON | PROJECT PORTFOLIO</title>
</head>
<nav class="navbar-home">
  <header class="header">

      <a href="https://twitter.com/rammiq">
        <img class="img" src="img/logo_small_icon_only_inverted.png" alt="">
      </a>  


      <div id="menuArea">
        <input type="checkbox" id="menuToggle"></input>
        
        <label for="menuToggle" class="menuOpen">
          <div class="open"></div>
        </label>
      
        <div class="menu menuEffects">
          <label for="menuToggle"></label>
          <div class="menuContent">
            <ul>
              <li><a href="Home.html">HOME</a></li>
              <li><a href="https://www.eteryclo.com/" target="_blank">SHOP</a></li>
              <li><a href="https://linktr.ee/ramonkramer" target="_blank">SOCIALS</a></li>
              <li><a href="https://github.com/rammiq" target="_blank"> <img src="img/icon github.png" alt=""></a></li>
            </ul> 
              
          </div>
        </div>

  </header>
  
  
</nav>
<body class="background-home">

    
    <a id="home">
    <div>
      <img  class="home-element" src="img/Loader_loop_by_gleb.gif" alt="">
    </div>
    </a>
      <div>
          <h1 class="title-home">hi, I'm ramon,</h1>
          <h1 class="subtitle-home">web developer</h1>
          <h2 class="subtitle2-home">I'm specialized in building websites. </h2>
      </div>
    <div class="button-home">
      <a href="mailto:ramon.kramer@gmx.ch" class="button">contact me</a>
    </div>

    <div class="container1">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
    <hr class="hr-home">
    

    <div class="home-projects">
      <a id="projects"><h1>Project Portfolio</h1></a>
      <h1 class="subtitle-home-projects">Recent projects i have created.</h1>
    </div>
    
    <div class="history-tl-container">
      <ul class="tl">
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            projects<br>
          </div>

        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            about me<br>
          </div>

          
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            roadmap<br>
          </div>
          
        </li>


      </ul>

    </div>
    
    
    
    
    <div class="home-project-list">
      <h2>
        <a href="https://rammiqv2.w3spaces.com/index.html" target="_blank"><img  class="glossary-img" src="img/Glossary Screely.png" alt=""></a>
      </h2>
      <h2>
        <a href="https://rammiqv2.w3spaces.com/Home.html" target="_blank"><img class="calculator-img" src="img/Project Portfolio Screely.png" alt=""></a>
      </h2>
      <a href="https://ysleep.w3spaces.com/ysleep.html" target="_blank"><img class="calculator1-img" src="img/screely-1639947497854.png" alt=""></a>
      <img class="calculator2-img" src="img/MORE COMING SOON.png" alt=""></a>


    </div>
    <a id="aboutme"></a>
    <hr class="hr-projects">
    </a>
    <div class="aboutmepage">
      <h1 class="subtitle-aboutme">Some Keyfacts <br> about</h1>
      <h1 class="title-aboutme">ME</h1>
      <h1 class="aboutmelist">
        Ramon <br>
        17 y/o<br>
        <span class="aboutmelistsubtitle">Based in</span>  <br>
        Switzerland <br>
        <span class="aboutmelistsubtitle">Self-taught</span>  <br>
        Web developer

      </h1>
      

      <a>
      <a href="www.twitter.com/rammiq">
        <div class="mouse_move">
          
            <img 
              id="img1" 
              src="img/iconmonstr-twitter.png"
              class="mouse"
              value="5"
            />
          
        </div>
      </a>
      </a>
      <hr class="hr-aboutme">

      <script type="text/javascript">
        document.addEventListener("mousemove", parallax);
        function parallax(event) {
          this.querySelectorAll(".mouse").forEach((shift) => {
            const position = shift.getAttribute("value");
            const x = (window.innerWidth - event.pageX * position) / 90;
            const y = (window.innerHeight - event.pageY * position) / 90;
    
            shift.style.transform = `translateX(${x}px) translateY(${y}px)`;
          });
        }
      </script>
      
    </div>
    
    <div class="roadmap">
      
      <h1 class="roadmaptitle">Roadmap</h1>
      <h1 class="roadmapsubtitle">for the Future</h1>

      <div class="roadmaptimelinetitle">
        <a class="button-roadmap">Timeline</a>
      </div>
      <img class="timeline-roadmap-mobile" src="img/Timeline Roadmap mobile.png" alt="">

      <ul class="timeline">
        <li data-year="2021" data-text="improve html/css skills"></li>
        <li data-year="2022" data-text="create projects"></li>
        <li data-year="2023" data-text="offer websites"></li>
        <li data-year="2024" data-text="start JS/react"></li>
        <li data-year="2025" data-text="source of income"></li>
        
      </ul> 
      
      
      <hr class="hr-roadmap">

    </div>

    <div class="footer">
      <img class="bg-img-footer" src="img/Design ohne Titel.png" alt="">
      <img class="bg-img-footer-mobile" src="img/Footer bg mobile.png" alt="">
      <h1 class="title-footer">Get in Touch</h1>
      <h1 class="subtitle-footer">Feel free to reach me out!</h1>
      <a href="www.twitter.com/rammiq"> <img class="footer-img-twitter" src="img/icon twitter black.png" alt=""></a>
      <a href="https://github.com/rammiq"> <img class="footer-img-github" src="img/icon github.png" alt=""></a>
      
      <ul class="list-footer">
        <li class="list-footer-li"> <a href="#home">Home</a></li>
        <li class="list-footer-li"> <a href="#projects">Projects</a> </li>
        <li class="list-footer-li"> <a href="#aboutme">About Me</a></li>
        <li class="list-footer-li"> <a href="https://rammiq.hashnode.dev" target="_blank">Blog</a></li>
      </ul>

      <ul class="list-footer-2">
        <li class="list-footer-li-2"> <a href="https://www.buymeacoffee.com/rammiq" target="_blank">Support Me!</a></li>
        <li class="list-footer-li-2"> <a href="mailto:ramon.kramer@gmx.ch" >Mail</a></li>
        <li class="list-footer-li-2"> <a href="https://github.com/rammiq" target="_blank">Github</a></li>
        <li class="list-footer-li-2"> <a href="https://linktr.ee/ramonkramer" target="_blank">Other Socials</a></li>
      </ul>
      <img src="img/logo_small_icon_only-removebg-preview.png" alt="" class="footer-logo">
      <h1 class="CreatedbyRamon">2021 &copy; Website created by Ramon</h1>
    </div>
  

    
    <script src="home.js"></script>
    
</body>

