*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader1 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  background: purple;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
}

.btn:hover {
  opacity: 0.9;
}

/* LOADER 1 */
.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: purple;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}


/*Homepage*/

.navbar-home{
    background-color: transparent;
  }
  .header-home{
    background-color: transparent;
    
  }
  .home-img{
    float: right;
    margin-top: 90px;
    margin-right: 80px;
  }
  
.img{
    height: 95px;
    width: 95px;
    position:absolute;
    right: 47.5%;
    top: 20px;
    
}

  .background-home{
    background-color: rgb(0, 0, 0);
  }

  .title-home{
    margin-left: 140px;
    margin-top: 290px;
    font-size: 100px;
    line-height: 220px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
  }
  @media only screen and (max-width: 768px) {
    .title-home { margin-left: 25px !important; }
    .title-home { line-height: normal !important; }

  }
  .subtitle-home{
    margin-left: 140px;
    margin-top: -50px;
    font-size: 75px;
    font-family: 'Poppins', sans-serif; 
    color: rgba(245, 245, 245, 0.719);
    display: inline-block;
    position: relative;
  }
  @media only screen and (max-width: 768px) {
    .subtitle-home { margin-left: 25px !important; }
    .subtitle-home { margin-top: 10px !important; }


  }
  
 
  
  .subtitle-home:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .subtitle-home:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .subtitle2-home{
    margin-left: 140px;
    margin-bottom: 500px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    color: rgba(245, 245, 245, 0.61);
    line-height: 47px;
    letter-spacing: 2px;
  }
  @media only screen and (max-width: 768px) {
    .subtitle2-home { margin-left: 25px !important; }
  }

  /*Button-Homepage*/

  .button-home {
    border: none;
    color: rgba(0, 0, 0, 0.808);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    margin-top: -480px;
    margin-left: 100px;
  }

 
  @media only screen and (max-width: 768px) {
    .button-home { margin-left: -7px !important; }
    .button-home { margin-top: -450px !important; }
 
    
  }



  

  .button {
    background-color: whitesmoke;
    border: whitesmoke;
    color: rgba(0, 0, 0, 0.808);
    font-family: 'Poppins', sans-serif;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 40px;
}
@media only screen and (max-width: 768px) {
  .button { float: left !important; }



}
.button:hover{
  background-color: rgba(245, 245, 245, 0.671);
  color: whitesmoke;
  opacity: 1;
  transition: 0.5s;
}
  
  .hr-home{
    max-height: 100%;
    min-width: 100%;
    margin-top: -180px;
    border-color: whitesmoke;
    border-width: 2px;
  }

  /*Project-Page*/

  .home-projects{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgba(204, 200, 200, 0.979);
    line-height: 170px;
  }
  @media only screen and (max-width: 768px) {
    .home-projects { margin-left: 25px !important; }
  }
  
  .subtitle-home-projects{
    text-align: center;
    font-size: 25px;
    margin-top:  -40px;
    font-family: 'Poppins', sans-serif;
    color: rgb(231, 229, 229);
    line-height: 170px;
  }
  .home-project-list{
    margin-bottom: 900px;

  }
  .glossary-img{
    width: 30%;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 4px solid rgb(76, 132, 196);

  }
  @media only screen and (max-width: 768px) {
    .glossary-img { margin-top: 80px !important; }
    .glossary-img { margin-left: 25px !important; }
    .glossary-img { width: 90% !important; }
  }
  
  .glossary-img:hover{
    opacity: 0;
    transition: opacity 0.5s;
    
  }


  .calculator-img{
    width: 30%;
    margin-right: 250px;
    float: right;
    margin-top: -379px;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
  }
  @media only screen and (max-width: 768px) {
    .calculator-img { margin-top: 30px !important; }
    .calculator-img { float:left !important; }
    .calculator-img { margin-left: 25px !important; }
    .calculator-img { width: 90% !important; }
  }
  
  .calculator-img:hover{
    opacity: 0;
    transition: opacity 0.5s;
    
  }
  .calculator2-img{
    width: 30%;
    margin-left: 250px;
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
  }
  @media only screen and (max-width: 768px) {
    .calculator2-img { margin-top: 25px !important; }
    .calculator2-img { margin-left: 25px !important; }
    .calculator2-img { width: 90% !important; }
  }
  .calculator2-img:hover{
    opacity: 0;
    transition: opacity 0.5s;
    
  }
  .calculator1-img{
    width: 30%;
    margin-right: 250px;
    float: right;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 4px solid rgb(255, 255, 255);
  }
  @media only screen and (max-width: 768px) {
    .calculator1-img { margin-top: 85px !important; }
    .calculator1-img { float:left !important; }
    .calculator1-img { margin-left: 25px !important; }
    .calculator1-img { width: 90% !important; }
  }
  
  .calculator1-img:hover{
    opacity: 0;
    transition: opacity 0.5s;
    
  }
  .home-element{
    width: 900px;
    float: right;
    margin-top: -150px;
    margin-right: 30px;
  }
  @media only screen and (max-width: 1000px) {
    .home-element { display: none !important; }
  }
  

  .hr-projects{
    max-height: 100%;
    margin-right: 250px;
    margin-left: 270px;
    margin-bottom: 300px;
    margin-top: -400px;
  }
  @media only screen and (max-width: 1200px) {
    .hr-projects { width: 100% !important; }
    .hr-projects { margin-left: 0px !important; }
  }
  


  /*About Me Page*/

  .title-aboutme{
    margin-left: 260px;
    font-size: 100px;
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 226, 226, 0.979);

  }
  @media only screen and (max-width: 1200px) {
    .title-aboutme { margin-left: 25px !important; }
    .title-aboutme { float: left !important; }
  }

  .subtitle-aboutme{
    margin-left: 260px;
    font-size: 80px;
    opacity: 50%;
    margin-top: -180px;
    font-family: 'Poppins', sans-serif;
    color: rgba(204, 200, 200, 0.979);
    line-height: 120px;
  }
  @media only screen and (max-width: 768px) {
    .subtitle-aboutme { margin-left: 25px !important; }
    .subtitle-aboutme { float: left !important; }
  }

  
  .aboutmelist{
    float: right;
    margin-right: 240px;
    font-size: 75px;
    margin-top: -210px;
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 226, 226, 0.979);
    text-align: right;

  }
  @media only screen and (max-width: 1000px) {
    .aboutmelist { margin-left: 25px !important; }
    .aboutmelist { float: left !important; }
    .aboutmelist { margin-top: 50px !important; }
    .aboutmelist { text-align: left !important; }
    .aboutmelist { font-size: 60px !important; }
    .aboutmelist { margin-bottom: 20px !important; }
  }

  .aboutmelistsubtitle{

    margin-right: 0px;
    font-size: 75px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 226, 226, 0.979);
    text-align: right;
    opacity: 0.5;
    display: inline-block;
    position: relative;
  }
  @media only screen and (max-width: 768px) {

    .aboutmelistsubtitle { float: left !important; }

    .aboutmelistsubtitle { text-align: left !important; }
    .aboutmelistsubtitle { font-size: 60px !important; }
  }

  .aboutmelistsubtitle:after {
    content: '';
    position: absolute;
    width: 100%;

    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .aboutmelistsubtitle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .hr-aboutme{
    margin-left: 270px;
    margin-right: 250px;
    min-width: 50%;
    margin-top: -2330px;
  }
  @media only screen and (max-width: 1200px) {
    .hr-aboutme { width: 100% !important; }
    .hr-aboutme { margin-left: 0px !important; }
    .hr-aboutme { margin-top: 50px !important; }
  }
  


  

/*Twitter Button About Me Page*/

 .mouse_move {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1500px) {
  .mouse_move {  display: none !important; }


}


.mouse_move h2 {
  position: relative;
  font-size: 100px;
  color: white;
}

.mouse_move img {
  position: absolute;
}
#img1 {
  margin-top: -4500px;
  margin-left: -1225px;
  height: 125px;
  width: 125px;
}
#img1:hover{
  opacity: 0.5;
  transition: 0.4s;
}



/*Vertical Site Line*/

.history-tl-container{
  font-family: 'Poppins', sans-serif;
  width:1%;
  margin:auto;
  position:relative;
  float:left;
}
@media only screen and (max-width: 1500px) {
  .history-tl-container { display: none !important; }
}

.history-tl-container ul.tl li{
    list-style: none;
    margin-left:100px;
    margin-top: -240px;
    min-height:1395px;
    border-left:2px dashed whitesmoke;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(70, 68, 68, 0.514);
    border-radius: 500%;
    background: #faf7f7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}
.history-tl-container ul.tl li:hover::before{
    border-color:  #0a0a0a;
    transition: all 0.3s ease-in-out;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: 50%;
    text-align: right;
    font-size: 18px;
    margin-left: 11px;
}


/*Roadmap*/

.roadmaptitle{
  text-align: center;
  letter-spacing: 10px;
  margin-top: 55px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-size: 100px;
}
@media only screen and (max-width: 1500px) {
  .roadmaptitle { font-size: 80px !important; }
  .roadmaptitle { letter-spacing: 2px !important; }

}
.roadmapsubtitle{
  text-align: center;
  margin-top: -35px;
  margin-left: 791px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  opacity: 0.5;
  font-size: 70px;
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .roadmapsubtitle { font-size: 45px !important; }
  .roadmapsubtitle { letter-spacing: 2px !important; }
  .roadmapsubtitle { float: left !important; }
  .roadmapsubtitle { margin-left: 120px !important; }
  .roadmapsubtitle { margin-top: 15px !important; }

}

.roadmapsubtitle:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.roadmapsubtitle:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Roadmap Button*/

.roadmaptimelinetitle{
  border: none;
  padding: 15px 32px;
  text-align: center;
  margin: 40px 2px;
  cursor: pointer;
  margin-top: 125px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .roadmaptimelinetitle { font-size: 45px !important; }
  .roadmaptimelinetitle { margin-top: 180px !important; }


}

.button-roadmap{
  background-color: whitesmoke;
  border: whitesmoke;
  color: rgba(0, 0, 0, 0.808); 
  font-family: 'Poppins', sans-serif;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  opacity: 0.9;
}
@media only screen and (max-width: 768px) {
  .roadmaptimelinetitle { font-size: 45px !important; }
  .roadmaptimelinetitle { margin-top: 180px !important; }


}

.hr-roadmap{
  height: 0.1mm;
  background-color: whitesmoke;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 550px;
}
@media only screen and (max-width: 1200px) {
  .hr-roadmap { width: 100% !important; } 
  .hr-roadmap { margin-left: 0px !important; } 

}

/*Footer*/
.title-footer{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.808); 
  font-size: 70px;

}
.wave-roadmap{
  width: 100%;
  bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .wave-roadmap { margin-top: 150px !important; }
}


/*Timeline Roadmap*/

.timeline {
	width:1300px;
	height: 20px;
	list-style: none;
	text-align: justify;
	position: absolute;
	font-family: 'Poppins', sans-serif;
	left: 50%;
	margin-top: 230px;
  color: whitesmoke;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
@media only screen and (max-width: 1200px) {
  
  .timeline { margin-top: 180px !important; } 
  .timeline { width: 400px !important; } 
  .timeline { font-size: 15px !important; } 

}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #F2BB13;
	text-align: center;
	line-height: 1.5;
	position: relative;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  
 
  .timeline li { font-size: 15px !important; } 

}

.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 30px;
	position: absolute;
	left: 50%;

	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
@media only screen and (max-width: 1200px) {
  
  .timeline li:before { font-size: 15px !important; } 

}

.timeline li:nth-child(odd):before {
	top: -90px;
}
.timeline li:nth-child(even):before {
	bottom: -90px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 30px;
	position: absolute;
	left: 50%;
  text-transform: uppercase;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
@media only screen and (max-width: 1200px) {
  
 
  .timeline li:after { font-size: 18px !important; } 

}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	-webkit-transform: translate(-50%, 100%);
	   -moz-transform: translate(-50%, 100%);
	    -ms-transform: translate(-50%, 100%);
	     -o-transform: translate(-50%, 100%);
	        transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	-webkit-transform: translate(-50%, -100%);
	   -moz-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	     -o-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
}


/*Scroll-Down-Animation*/

  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100px;    
  }
  @media only screen and (max-width: 768px) {
    .container1 { display: none !important; }
  }
  
  
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }


/*Hamburger-Menu*/

  input {
    display: none;
}
  
.open {
    background-color: #f7f7f796;
    width: 30px;
    height: 6px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    margin-top: -240px;
    margin-left: -50px;

  }

  
  .open:before {
    content: "";
    background-color: #f7f7f7;
    width: 30px;
    height: 6px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.2s ease;
  }
  
  .open:after {
    content: "";
    background-color: #f7f7f73f;
    width: 30px;
    height: 7px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }

  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: whitesmoke;
  }

  
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 25%;
    font-size: 100px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .menu ul li a {
    display: block;
    color: rgba(0, 0, 0, 0.808);
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
  }
  
  .menu ul li a:hover {
    color: rgba(0, 0, 0, 0.808);
  }
  
  .menu ul li:hover {
    background: whitesmoke;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.808);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.808);
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }

